
<div class="col-md-6 col-md-offset-3 text-center" id="logo-area">
    <center>
        <img class="img img-responsive" style="max-height:180px;" src="/images/logo.png">
    </center>
</div>


<div class="row selection-row" style="margin-top : 50px;">
        <center>
        <div class="col-xs-12">
            <select class="test-select" id="rooms">
                <option value = "all" selected>Room</option>
                {{#each team_data}}
                    <option value="{{room_no}}"> {{room_no}} </option>
                {{else}}
                    <option value="0">No data</option>
                {{/each}}
            </select>
        </div>
        <div class="col-xs-12 row">
            <div class="col-xs-3">
                <button class="btn btn-sm btn-primary" id="prev">PREV</button>
            </div>
            <div class="col-xs-6">
                <input type = "number" class="center-block" style="height:30px; padding: 10px; font-size: 20px;" id = "table_id" value = "0" min="0" max="40"/>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-sm btn-primary" id="next">Next</button>
            </div>

        </div>
        <div class="col-xs-12">
            <select type="number" class="test-select" id="teams">
                <option value = "all" selected>Team</option>
                {{#each team_data}}
                    <option value="{{team_name}}"> {{team_name}} </option>
                {{else}}
                    <option value="0">No data</option>
                {{/each}}
            </select>
        </div>
        <div class="col-xs-12">
            <select class="test-select" id="judges">
                <option value = "all" selected>Judge</option>
                {{#each judge_data}}
                    <option value="{{names}}"> {{names}} </option>
                {{else}}
                    <option value="0">No data</option>
                {{/each}}
            </select>
        </div>

        <div class="col-xs-12" style="margin-top: 40px !important"> 
            <span class="range-param" style="font-size: 24px; color:#fff; letter-spacing: 2px; margin-bottom:20px !important">Originality</span>
            <input type="range" id="range-slider-1" min="0" max="5" step="1" value="0" data-orientation="horizontal">
            <span class="range-output" id="range-output-1" style="font-size: 24px; color:#fff; letter-spacing: 2px;">0</span>
        </div>

        <div class="col-xs-12" style="margin-top: 40px !important"> 
            <span class="range-param" style="font-size: 24px; color:#fff; letter-spacing: 2px; margin-bottom:20px !important">Param 2</span>
            <input type="range" id="range-slider-2" min="0" max="10" step="1" value="0" data-orientation="horizontal">
            <span class="range-output" id="range-output-2" style="font-size: 24px; color:#fff; letter-spacing: 2px;">0</span>
        </div>

        <div class="col-xs-12" style="margin-top: 40px !important"> 
            <span class="range-param" style="font-size: 24px; color:#fff; letter-spacing: 2px; margin-bottom:20px !important">Param 3</span>
            <input type="range" id="range-slider-3" min="0" max="5" step="1" value="0" data-orientation="horizontal">
            <span class="range-output" id="range-output-3" style="font-size: 24px; color:#fff; letter-spacing: 2px;">0</span>
        </div>

        <div class="col-xs-12" style="margin-top: 40px !important"> 
            <span class="range-param" style="font-size: 24px; color:#fff; letter-spacing: 2px; margin-bottom:20px !important">Param 4</span>
            <input type="range" id="range-slider-4" min="0" max="10" step="1" value="0" data-orientation="horizontal">
            <span class="range-output" id="range-output-4" style="font-size: 24px; color:#fff; letter-spacing: 2px;">0</span>
        </div>

        <div class="col-xs-12" style="margin-top: 40px !important"> 
            <span class="range-param" style="font-size: 24px; color:#fff; letter-spacing: 2px; margin-bottom:20px !important">Param 5</span>
            <input type="range" id="range-slider-5" min="0" max="10" step="1" value="0" data-orientation="horizontal">
            <span class="range-output" id="range-output-5" style="font-size: 24px; color:#fff; letter-spacing: 2px;">0</span>
        </div>




    </center>
</div>

<script type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/select2.full.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/rangeslider.min.js"></script>

<style type = "text/css">
    #team_id {width: 100%;}
</style>
<!-- Javascript -->
<script>
     $(function() {
       
     });
</script>

<script type="text/javascript">
    
    

    $(document).ready(function(){

         // $( "#table_id" ).spinner();

         $("#next").click(function(){
            console.log("Here");
            var x = (parseInt($("#table_id").val()) + 1);
            var max = parseInt($("#table_id").attr("max"));
            var min = parseInt($("#table_id").attr("min"));
            if(x>max){
                $("#table_id").val(min);
            }else{
                $("#table_id").val(x);
            }
         });
         $("#prev").click(function(){
            var x = (parseInt($("#table_id").val()) - 1);
            var max = parseInt($("#table_id").attr("max"));
            var min = parseInt($("#table_id").attr("min"));
            if(x<min){
                $("#table_id").val(max);
            }else{
                $("#table_id").val(x);
            }
         });

        $('#range-slider-1').rangeslider({

            polyfill: false,

            onInit : function() {
            },
            onSlide : function( position, value ) {
                $("#range-output-1").html( value );
            },
            onSlideEnd: function(position, value) {
            }
        });

        $('#range-slider-2').rangeslider({

            polyfill: false,

            onInit : function() {
            },
            onSlide : function( position, value ) {
                $("#range-output-2").html( value );
            },
            onSlideEnd: function(position, value) {
            }
        });

        $('#range-slider-3').rangeslider({

            polyfill: false,

            onInit : function() {
            },
            onSlide : function( position, value ) {
                $("#range-output-3").html( value );
            },
            onSlideEnd: function(position, value) {
            }
        });

        $('#range-slider-4').rangeslider({

            polyfill: false,

            onInit : function() {
            },
            onSlide : function( position, value ) {
                $("#range-output-4").html( value );
            },
            onSlideEnd: function(position, value) {
            }
        });

        $('#range-slider-5').rangeslider({

            polyfill: false,

            onInit : function() {
            },
            onSlide : function( position, value ) {
                $("#range-output-5").html( value );
            },
            onSlideEnd: function(position, value) {
            }
        });



        var socket = io();

        $(".test-select").select2({
            theme:"bootstrap"
        });
        $(".test-select>option").css("textTransform", "capitalize");


        $(".test-select").on("change", function(e){
            var filterSearch = {};
            filterSearch.rooms = $("#rooms").val();
            filterSearch.table_id = $("#table_id").val();
            filterSearch.teams = $("#teams").val();
            console.log(filterSearch.rooms);
            console.log("here");
            socket.emit('filterSearch_request', filterSearch);
            console.log("emmited");
        });

        socket.on('filterSearch_response', function(filterResult){
            console.log("responded");
            console.log(filterResult);
            // articleData = filterResult.article_data;

            var select2TeamVal = $("#teams").val();

            var select2TeamList= '<option value="all">All Teams</option>';
            $.each(filterResult, function(i, item){
                select2TeamList += '<option value="'+item.team_name+'"';
                select2TeamList += (item.team_name == select2TeamVal)?'selected':' ';
                select2TeamList += '>'+item.team_name+'</option>';
            });

            $("#teams").html(" ").promise().done(function(){
                $("#teams").html(select2TeamList);
            });

            var select2TableVal= $("#table_id").val();
            var select2TableList= '<option value="all">All Tables</option>';
            $.each(filterResult, function(i, item){
                select2TableList += '<option value="'+item.table_id+'"';
                select2TableList += (item.table_id == select2TableVal)?'selected':' ';
                select2TableList += '>'+item.table_id+'</option>';
            });

            $("#table_id").html(" ").promise().done(function(){
                $("#table_id").html(select2TableList);
            });

            $(".test-select").css("textTransform", "capitalize");
        });


    });

</script>